{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav aria-label="breadcrumb" role="navigation">
    <ol class="flex flex-wrap list-reset pt-3 pb-3 py-4 px-4 mb-4 bg-gray-200 rounded">
      {% for item in breadcrumb %}
        {% if loop.last %}
          <li class="inline-block px-2 py-2 text-grey-dark active is-active" aria-current="page">{{ item.text }}</li>
        {% else %}
          <li class="inline-block px-2 py-2 text-grey-dark"><a href="{{ pl ? '#' : item.url }}">{{ item.text }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
{% endif %}
